@model Application.Web.Module.Product.Models.Category.CategoryModel
@{
    if(this.Model.Id != null){
        ViewBag.Title = "Update Category";
    }
    else{
        ViewBag.Title = "Create New Category";
    }

    var data = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
}

<h2>@(ViewBag.Title)</h2>

<div ng-app="CategoryApp" ng-controller="UpdateCategoryCtrl" ng-cloak>
    <div>
        <label>@LocalizerFactory.CreateLocalizer().GetString("Code", typeof(ApplicationText))</label>
        <input type="text" ng-model="category.CategoryCode"/>

        <label>@LocalizerFactory.CreateLocalizer().GetString("Name", typeof(ApplicationText))</label>
        <input type="text" ng-model="category.CategoryName"/>

        <label>@LocalizerFactory.CreateLocalizer().GetString("Order", typeof(ApplicationText))</label>
        <input type="text" ng-model="category.Order"/>

        <label>@LocalizerFactory.CreateLocalizer().GetString("CategoryImage", typeof(ApplicationText))</label>
        <input type="text" ng-model="category.CategoryImage"/>

        <p>
            <button ng-click="saveCategory(category)">Save</button>
        </p>
        
    </div>
</div>

@section scripts{
    <script src="@Url.Content("~/Scripts/Modules/ViewModels/Category.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var options = {
            viewModel: eval(@Html.Raw(data))
        };
        CategoryViewModel(options);
    </script>
}
